/*
 * Color Codes
 */

// blacks
$rich-black: #050505;
$smoky-black: #0F0F0F;
$licorice-black: #141414;
$eerie-black: #1E1E1E;
$raisin-black: #262626;

// whites
$white: #FFFFFF;
$snow-white: #F9F9F9;

// grey
$nickel-grey: #707070;

// colorful
$sapphire-blue: #136484;
$dark-yellow: #A59B0D;
$avocado-green: 467600;
$ruby-red: #9B1018;
$cerulean: #0189A8;

// site roles
$admin: #42a5dc;
$ambassador: #89be6c;
$sitemod: #e74c3c;
$plot: #e67e22;
$promoter: #1abc9c;

$icon-sheet: "https://i.imgur.com/dDc9RoS.png";

// user ids
$id-burkes: "3703511";
$user-burkes: ".user-3703511";